<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Prohmann FisioCare</title>
</head>

<body>
    <header>
        <div class="Logo">
            <h1>Prohmann FisioCare</h1>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="../index.html ">Inicio</a></li>
                    <li><a href="./abountme.html">Quem Somos</a></li>
                    <li><a href="./contato.html"></a>Contato</li>
                    <li><a href="./table.html">Valores</a></li>
                    <!-- <li><button>Obtenha seu guia gratuito agora!</button></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <section>
        <div id="formulario">
            <h1 id="tituloFormulario">Entre em contato conosco para esclarecermos suas duvidas</h1>
            <form action="https://api.sheetmonkey.io/form/3Bjd9qVLcHg1tiGJeEUP2V" method="post">

                <input type="text" placeholder="Nome" name="Name" required><br>
                <input type="email" placeholder="E-mail" name="Email" required><br>
                <input type="number" placeholder="Telefone" name="Telefone" required><br>
                <input type="hidden" name="Created" value="x-sheetmonkey-current-date-time" />

                <button type="submit" value="Sign Up">Enviar!</button>

            </form>
        </div>
        
       
    </section>
    <footer>
        <div>
            <h3>Subscribe para receber nossas novidades.</h3>
            <div>
                <form action="https://api.sheetmonkey.io/form/3Bjd9qVLcHg1tiGJeEUP2V" method="post">
                    <input type="email" placeholder="Digite seu email">
                    <button>Subscrever</button>
                </form>
            </div>

        </div>
        <div>
            <p>Prohmann FisioCare &copy; 2024. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>

</html>
